@model IEnumerable<Clubie.Models.Product>

@{
    ViewBag.Title = "HotProducts";
}

<div class="row text-center">
    <h2>Hot</h2>
    <div class="row text-center">
        @foreach (var item in Model)
        {
            <div class="container col-sm-2">
                <div class="thumbnail">
                    <img src="~/Images/@Html.DisplayFor(modelItem => item.ImageName)" alt="@Html.DisplayFor(modelItem => item.ImageName)" width="300" height="200">
                    <p><strong>@Html.DisplayFor(modelItem => item.ProductName)</strong></p>
                    @if (item.Status != true)
                    {
                        <p style="color:darkred">Out of stock!</p>
                    }
                    else
                    {
                        <p>@Html.DisplayFor(modelItem => item.Price) đ</p>
                        <button class="btn btn-danger" onclick="location.href='@Url.Action("AddToOrder", "Products", new { id = item.ProductId })';return false;">Buy</button>
                        <button class="btn btn-success" onclick="location.href='@Url.Action("Details", "Products", new { id = item.ProductId })';return false;">Details</button>
                    }
                </div>
            </div>
        }
    </div>
</div>
