@model IEnumerable<Clubie.Models.Product>

@{
    ViewBag.Title = "Search";
}
    <div class="row text-center">
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="~/Images/@Html.DisplayFor(modelItem => item.ImageName)" alt="@Html.DisplayFor(modelItem => item.ImageName)" width="400" height="300">
                    <p><strong>@Html.DisplayFor(modelItem => item.ProductName)</strong></p>
                    <p>@Html.DisplayFor(modelItem => item.Price) đ</p>
                    <button class="btn btn-danger" onclick="location.href='@Url.Action("AddToOrder", "Products", new { id = item.ProductId })';return false;">Buy</button>
                    <button class="btn btn-success" onclick="location.href='@Url.Action("Details", "Products", new { id = item.ProductId })';return false;">Details</button>
                </div>
            </div>
        }
    </div>