@model IEnumerable<Clubie.Models.OrderDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPromotionPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.DeliveryPhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductPromotionPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.DeliveryPhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProductCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderDetailId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderDetailId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderDetailId })
        </td>
    </tr>
}

</table>
